.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 7px;
  vertical-align: middle; }

.card .card-header .card-title {
  margin-top: 0px;
}

.card-title {
  margin-bottom: 0px;
}

.sidebar .sidebar-wrapper,
  .off-canvas-sidebar .sidebar-wrapper {
    overflow: hidden;}

.form-group .form-control,
  .input-group .form-control {
    padding: 5px 5px 5px 5px; }

select.form-control:not([size]):not([multiple]) {
  height: calc(1.85rem); }